<div class="header">
    <div class="pull-left">
        <div class="iconPanel">
            <div class="iconItem">
                <span class="fa fa-2x fa-android white"></span>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <div class="iconPanel">
            <div class="iconItem" ng-click="goToList()">
                <span class="fa fa-2x fa-check-square white"></span>
            </div>
            <div class="iconItem" ng-click="goToList()">
                <span class="fa fa-2x fa-times-circle white"></span>
            </div>
            <div class="iconItem">
                <span class="fa fa-2x fa-navicon white"></span>
            </div>
        </div>
    </div>
</div>
<div class="content" ng-swipe-right="back()">
    <h4 class="title">Lorem ipsum dolor sit amet</h4>
    
    <div class="formGroup">
        <div class="formItem">
            <label>
                <span class="icon-x icon-check-empty"></span> 
                <span> Complete</span>
            </label>
        </div>
    </div>
    <div class="formGroup">
        <div class="formItem">
            <label>
                <input type="text" placeholder="Task title" />
            </label>
        </div>
    </div>
    <div class="formGroup">
        <div class="formItem">
            <label>
                <input type="text" placeholder="Notes" />
            </label>
        </div>
        <div class="formItem">
            <label>
                <input type="text" placeholder="Date" />
            </label>
        </div>
        <div class="formItem">
            <label>
                <input type="text" placeholder="Location" />
            </label>
        </div>
    </div>
</div>