<div class="header">
    <div class="pull-left">
        <div class="iconPanel">
            <div class="iconItem">
                <span class="fa fa-2x fa-android white"></span>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <div class="iconPanel">
            <div class="iconItem" ng-click="goToNew()">
                <span class="fa fa-2x fa-plus-circle white"></span>
            </div>
            <div class="iconItem">
                <span class="fa fa-2x fa-refresh white"></span>
            </div>
            <div class="iconItem">
                <span class="fa fa-2x fa-navicon white"></span>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div >
        <input type="text" class="serchBox" placeholder="Search" />
    </div>
    <div class="listTodo">
        <ul>
            <li>Today
                <ul>
                    <li ng-click="goToView()">
                        <span class="pull-left fa fa-square-o"></span>
                        Lorem ipsum dolor sit amet
                    </li>
                    <li>
                        <span class="pull-left fa fa-square-o"></span>
                        Lorem ipsum dolor sit amet
                    </li>
                    <li class="done">
                        <span class="pull-left fa fa-check-square-o"></span>
                        Lorem ipsum dolor sit amet
                    </li>
                    <li class="done">
                        <span class="pull-left fa fa-check-square-o"></span>
                        Lorem ipsum dolor sit amet
                    </li>
                </ul>
            </li>
            <li>Tomorrow
                <ul>
                    <li>
                        <span class="pull-left fa fa-square-o"></span>
                        Lorem ipsum dolor sit amet
                    </li>
                    <li>
                        <span class="pull-left fa fa-square-o"></span>
                        Lorem ipsum dolor sit amet
                    </li>
                    <li>
                        <span class="pull-left fa fa-square-o"></span>
                        Lorem ipsum dolor sit amet
                    </li>
                </ul>
            </li>
            <li>Later
                <ul>
                    <li>
                        <span class="pull-left fa fa-square-o"></span>
                        Lorem ipsum dolor sit amet
                    </li>
                    <li>
                        <span class="pull-left fa fa-square-o"></span>
                        Lorem ipsum dolor sit amet
                    </li>
                    <li>
                        <span class="pull-left fa fa-square-o"></span>
                        Lorem ipsum dolor sit amet
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>